<div class="return-page-container" *ngIf="game">
  <h2>Thank you!</h2>
  <h3>Please return this game to this section of the shelf:</h3>
  <mat-grid-list class="return-page-shelf" cols="4" rowHeight="2:1">
    <mat-grid-tile id="twoplayer">2-Player</mat-grid-tile>
    <mat-grid-tile id="light" rowspan="4">Light</mat-grid-tile>
    <mat-grid-tile id="nextstep" rowspan="3">Next Step</mat-grid-tile>
    <mat-grid-tile id="heavy" rowspan="2">Heavy</mat-grid-tile>
    <mat-grid-tile id="abstract">Abstract</mat-grid-tile>
    <mat-grid-tile id="escape">Escape</mat-grid-tile>
    <mat-grid-tile id="coop">Co-op</mat-grid-tile>
    <mat-grid-tile id="smallgames">Small</mat-grid-tile>
    <mat-grid-tile id="party" colspan="2">Party</mat-grid-tile>
  </mat-grid-list>
</div>
